.venue-card {
  &__img-wrapper {
    height: 40rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: color ease .4s;

    @media screen and (max-width: 765px) {
      height: 100%;
    }

    &:hover {
      box-shadow: 0px 6px 18px 2px rgba(209, 209, 209, 1);
    }

    &:hover>.venue-card__overlay>.venue-card__features {
      max-height: 40rem;
    }

    &:hover>.venue-card__overlay {
      background-color: var(--mainWhite);
      color: var(--darkGrey);
    }

    &:hover>.venue-card__overlay>.venue-card__name {
      color: var(--primaryColor);
    }

    &:hover>.venue-card__overlay .venue-card__icon,
    &:hover>.venue-card__overlay .venue-card__text {
      opacity: 1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2.5rem 1.5rem;
    background-color: var(--primaryColor);
    transition: background-color ease .5s;
  }

  &__name {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 3px;
    margin: 0;
    align-self: center;
    transition: color ease .4s;

    @media screen and (max-width: 765px) {
      font-size: 1.6rem;
    }
  }

  &__features {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease .75s;

    display: flex;
    justify-content: space-evenly;
  }

  &__icon-wrapper {
    padding-top: 3rem;
    height: 100%;

    display: grid;
  }

  &__icon,
  &__text {
    opacity: 1;
  }

  &__icon {
    width: 100%;
    height: 3.2rem;
    transition: ease .4s;
    margin-bottom: .5rem;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 500;
    transition: ease .4s;
    text-align: center;
    color: var(--primaryColor);
  }
}