.story-card {
  &__info {
    display: grid;
    align-content: center;
    justify-items: center;
  }

  &__text {
    @media screen and (max-width: 475px) {
      font-size: 1.5rem;
    }
  }

  &__name,
  &__text {
    margin: 2rem 0;
    text-align: center;
  }

  &__name {
    font-size: 1.7rem;
  }
}
