.join-team {
  grid-column: center-start / center-end;
  text-align: center;

  display: grid;
  align-content: center;
  justify-items: center;

  @media screen and (max-width: 765px) {
    grid-column: full-start / full-end;
    margin: 8rem 0;
  }

  @media screen and (max-width: 365px) {}

  &__title {
    margin-bottom: 3rem;

    @media screen and (max-width: 765px) {
      font-size: 2.8rem;
      padding: 0 5%;
    }
  }

  &__text {
    margin: 0 20%;

    @media screen and (max-width: 765px) {
      margin: 0 1.5rem;
    }
  }
}