.hero-banner {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);

  &__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    letter-spacing: 6px;
    color: var(--primaryColor);
  }

  &__subtitle {
    width: 85%;
    letter-spacing: 6px;
    padding: 3rem 0;
    margin: auto;
    color: var(--mainWhite);

    font-size: 1.6rem;
    color: var(--mainWhite);
  }
}

@media screen and (min-width: 815px) {
  .hero-banner {
    width: 73%;

    &__title {
      font-size: 8rem;
    }

    &__subtitle {
      width: 70%;
    }
  }
}