.venues {
  grid-column: center-start/ center-end;
  margin: 10rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 2rem;

  @media screen and (max-width: 765px) {
    grid-column: full-start / full-end;
    margin: 6rem 1.5rem;

    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
}