.about {
  grid-column: center-start/ center-end;
  margin: 10rem 0;

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8rem;
  }

  &__title {}

  &__text {
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}