.brand {
  grid-column: center-start/ center-end;
  margin-bottom: 10rem;

  display: grid;
  align-content: center;
  justify-items: center;

  @media screen and (max-width: 765px) {
    grid-column: full-start / full-end;
    margin: 8rem 1.5rem;
  }

  &__title {
    text-align: center;

    @media screen and (max-width: 765px) {
      font-size: 2.6rem;
      padding: 0 3%;
    }
  }

  &__text {
    padding: 0 20%;
    text-align: center;
    line-height: 30px;

    @media screen and (max-width: 475px) {
      padding: 0;
      line-height: 25px;
    }
  }
}
