.intro {
  grid-column: center-start/ center-end;
  margin: 10rem 0;

  display: grid;
  align-content: center;
  justify-items: center;

  &__text {
    padding: 0 20%;
    text-align: center;
    line-height: 30px;
  }
}