@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');

:root {
  --primaryColor: rgb(242, 159, 5);
  --secondaryColor: rgb(246, 170, 27);
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainGrey: #e7e7e7;
  --lightGrey: #858585;
  --mediumGrey: #616161;
  --darkGrey: #282828;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5%;

  /* Scrollbar styles */
  &::-webkit-scrollbar {
    width: .7rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--darkGrey);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(to bottom, var(--primaryColor) 60%, #242424);
    outline: 1px solid var(--lightGrey);
  }
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 3rem;
  letter-spacing: var(--mainSpacing);
  color: var(--darkGrey);
}

p {
  margin-bottom: 1.25rem;
  font-family: 'Playfair Display', serif;
  color: var(--darkGrey);
  font-size: 1.6rem;
  line-height: 25px;
}

.home-container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8,
      [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: auto 92vh min-content 50vh min-content 9vh;
}

.events-container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8,
      [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: auto auto min-content min-content 9vh;
}

.about-container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8,
      [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: auto auto min-content 9vh;
}