.options {
  grid-column: center-start/ center-end;
  margin-bottom: 8rem;

  &__title {
    text-align: center;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
  }

  .option {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 1.5rem;
    justify-items: center;
    border: .1rem solid var(--mainGrey);
    padding: 3rem 1rem;
    border-radius: .5rem;

    &__icon {
      width: 6rem;
      height: 6rem;
      transform: translateY(-1rem);
    }

    &__text {
      font-size: 1.5rem;
      color: var(--darkGrey);
      text-align: center;
    }
  }
}